{% extends 'officerincludes/base.html' %}
{% load static %}

{% block content %}
<div class="content-body">
    <!-- row -->
    <div class="container-fluid">
        <div class="col-xl-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Add Client Info</h4>
                </div>
                <div class="card-body">
                    <div class="basic-form">
                        <form class="user-form" method="POST" enctype="multipart/form-data" action="{% url 'create_person_info' %}">
                            {% csrf_token %}
                            <input type="text" name="case_id" value="{{case_id}}" style="visibility: hidden;" id="">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Full Name</label>
                                <div class="col-sm-9">
                                    <input type="text"  class="form-control" name="full_name" required placeholder="Full Name">
                                </div>
                            </div>
                        
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Date of Birth</label>
                                <div class="col-sm-9">
                                    <input type="date" class="form-control" name="date_of_birth" required>
                                </div>
                            </div>
                        
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Gender</label>
                                <div class="col-sm-9">
                                    <select name="gender" class="form-control default-select" id="sel1">
                               
                                        <option value="male">male</option>
                                        <option value="female">female</option>
                                  
                                       
                                    </select>
                                </div>
                            </div>
                        
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Current Address</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="current_address" required placeholder="Current Address">
                                </div>
                            </div>
                        
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Phone Numbers</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="phone_numbers" required placeholder="Phone Numbers">
                                </div>
                            </div>
                        
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Email Address</label>
                                <div class="col-sm-9">
                                    <input type="email" class="form-control" name="email_address" placeholder="Email Address">
                                </div>
                            </div>
                        
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Photograph</label>
                                <div class="col-sm-9">
                                    <input type="file" class="form-control-file" name="photograph">
                                </div>
                            </div>
                        
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Government ID Type</label>
                                <div class="col-sm-9">
                                    <select name="government_id_type" class="form-control default-select" id="sel1">
                               
                                        <option value="Aadhar Card">Aadhar Card</option>
                                        <option value="Pan Card">Pan Card</option>
                                  
                                       
                                    </select>
                                </div>
                            </div>
                        
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Government ID Number</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="government_id_number" placeholder="Government ID Number">
                                </div>
                            </div>
                         
                            <div class="form-group row" style="float: right;">
                                <div class="col-sm-12">
                                    <button type="submit" class="btn btn-primary">Add Client Info</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</div>
</div>
{% if messages %}
  <div class="messages">
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endfor %}
  </div>
{% endif %}


{% endblock content %}